run = "npm run dev"
modules = ["nodejs-20", "web", "nix"]
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-23_11"

[unitTest]
language = "nodejs"

[deployment]
deploymentTarget = "static"
publicDir = "dist"
build = ["sh", "-c", "npm run build"]

[[ports]]
localPort = 5173
externalPort = 80
